*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content:  space-between;
    align-items: center;

}
.logo h1{
    color: black;
    text-transform: uppercase;
    font-size: 50px;
    margin-left: 10px;
}
.logo h1 {
 color:gold;
 padding: 5px;
 padding-left: 20px;
}
.nav-link ul{
    display: flex;
    list-style: none;
}
.nav-link ul li a{
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: gold;
    font-size: 20px;
    padding-right: 20px;
}
.nav-link ul li a:hover{
    color: gray; 
    transition: 0.7s;
}
.awal{
    text-align: center;
    padding: 160px;
    font-size: 40px;
    color: gold;
}
#p-satu{
    margin-left:50px ;
    font-size:50px ;
    margin-top: 10px;
}

.kotak-utama{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 70px;
}
.kanan img{
    border-radius: 50%;
    width: 350px;
    height: 350px;
}
.kotak-kiri{
    width: 60%;
    padding-right: 10px;
}
.kanan{
    width: 40%;
    padding-left: 10px;
}
.kotak-kiri h1{
    font-size: 45px;
    padding-bottom: 25px;
}
.kotak-kiri p{
    padding-bottom: 20px;
}
.icon{
    display: flex;
    font-size: 20px;
    padding-bottom: 20px;
}
.tombol a{
    background-color: gold;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}
.tombol a:hover{
    background-color: gray;
    transition:0.80s;
}
i{
    padding: 5px;
}
.about{
    padding-left: 40%;
    padding-right: 50px;
}
#ke2{
    text-align: center;
    font-size: 35px;
    padding: 30px;
}

.contener{
    display: flex;
}
.gambar1 img{
height: 400px;
padding: 30px;
display: flex;
}
h5{
    text-align: center;
    background-color:
    color:black;
    height: 40px;
    font-size: 20px;
}